@{
    ViewData["Title"] = "Change Current Password";
}
<link rel="stylesheet" href="~/css/user.css" />

<div class="container">
    <div class="login-card">
        <div class="login-title">Change Password</div>

        <form method="post" asp-action="ChangeCurrentPassword">
			<label>Current Password</label>
			<input type="password" name="currentPassword" required />

            <label>New Password</label>
            <input type="password" name="newPassword" required />

            <label>Confirm New Password</label>
            <input type="password" name="confirmPassword" required />

            @if (ViewBag.Error != null)
            {
                <div class="error-message">@ViewBag.Error</div>
            }
            <div class="button-row">
                <a href="/User/MyAccount" class="btn-done" style="text-decoration:none; text-align:center;">Back</a>
                <button type="button" class="btn-change" style="width:172px;">Confirm</button>
            </div>

        </form>
    </div>
</div>
