@model ChangeCurrentPasswordViewModel

@{
    ViewData["Title"] = "Change Current Password";
}
<link rel="stylesheet" href="~/css/user.css" asp-append-version="true"/>

<div class="container">
    <div class="login-card">
        <div class="login-title">Change Password</div>


        <form method="post" asp-action="ChangeCurrentPassword">
			<label>Current Password</label>
            <input asp-for="CurrentPassword" type="password" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>

            <label>New Password</label>
            <input asp-for="NewPassword" type="password" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>

            <label>Confirm New Password</label>
            <input asp-for="ConfirmPassword" type="password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            @if (ViewBag.Error != null)
            {
                <div class="error-message">@ViewBag.Error</div>
            }
            <div class="button-row">
                <button type="button" onclick="location.href='@Url.Action("MyAccount")'" class="btn-cancel">Back</button>
                <button type="submit" class="btn-change">Confirm</button>
            </div>

        </form>
    </div>
</div>
