@{
    ViewData["Title"] = "Change Password";
}
<link rel="stylesheet" href="~/css/user.css" />

<div class="container">
    <div class="login-card">
        <div class="login-title">Change Password</div>

        <form method="post" asp-action="ChangePassword">
            <label>New Password</label>
            <input type="password" name="newPassword" required />

            <label>Confirm New Password</label>
            <input type="password" name="confirmPassword" required />

            @if (ViewBag.Error != null)
            {
                <div class="error-message">@ViewBag.Error</div>
            }

            <button type="submit" class="btn-login">Update Password</button>

            <div class="register-text">
                Back to Login?
                <a href="/User/Login">Login Here</a>
            </div>
        </form>
    </div>
</div>
