@{
    ViewData["Title"] = "Forgot Password";
}
<link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />

<div class="container">
    <div class="login-card">
        <div class="login-title">Forgot Password</div>

        <form method="post" asp-action="ForgotPassword">
            <label>Email</label>
            <input type="email" name="email" required />

            @if (ViewBag.Error != null)
            {
                <div class="error-message">@ViewBag.Error</div>
            }

            <button type="submit" class="btn-login">Send OTP</button>

            <div class="register-text">
                Remembered your password?
                <a href="/User/Login">Back to Login</a>
            </div>
        </form>
    </div>
</div>
