@{
    ViewData["Title"] = "Login Page";

}
@if (TempData["RegisterSuccess"] != null)
{
    <script>
        alert('@TempData["RegisterSuccess"]');
    </script>
}
<head>
    <link rel="stylesheet" href="~/css/user.css" asp-append-version="true"/>

</head>
<body>

    <div class="container">
        <div class="role-switch">
            <a href="#" class="role-btn active">Student</a>
            <a href="#" class="role-btn">Staff</a>
        </div>
        <div class="login-card">
            <div class="login-title">Login</div>

            <form method="post" action="/User/Login">
                <label>User id</label>
                <input type="text" name="userId" required />

                <label>Password</label>
                <input type="password" name="password" required />

                <div class="login-options">
                    <label class="remember-me">
                        <input type="checkbox" />
                        Remember Me
                    </label>

                    <a href="/User/ForgotPassword" class="forgot-password">Forgot Password?</a>
                </div>

                <button type="submit" class="btn-login">Login</button>

                @if (ViewBag.Error != null)
                {
                    <div class="error-message">@ViewBag.Error</div>
                }

                <div class="register-text">
                    Don't have an account?
                    <a href="/User/Register"> Register here</a>
                </div>
            </form>
        </div>
    </div>

</body>