@{
    ViewData["Title"] = "Login Page";

}
<head>
    <link rel="stylesheet" href="~/css/user.css" />

</head>
<body>

    <div class="container">
        <div class="login-card">
            <div class="login-title">Login</div>

            <form method="post" action="/User/Login">
                <label>User id</label>
                <input type="text" name="userId" required />

                <label>Password</label>
                <input type="password" name="password" required />

				<a href="/User/ForgotPassword" class="forgot-password">Forgot Password?</a>

                <button type="submit" class="btn-login">Login</button>

                @if (ViewBag.Error != null)
                {
                    <div class="error-message">@ViewBag.Error</div>
                }

                <div class="register-text">
                    Don't have an account?
                    <a href="/User/Register"> Register here</a>
                </div>
            </form>
        </div>
    </div>

</body>