<div>
	<form>
		<label> Item Name: </label>
		<input type="text" />

		<label> Item Type: </label>
		<input type="text" />

		<label> Item Description: </label>
		<input type="text" />

		<label>Lost Date</label>
		<input type="date" />

		<label>Item Image</label>
		<input type="file" />

		<button>SUBMIT</button>
	</form>
</div>