
@model Item


<form asp-action="CreatePost" asp-controller="Home" method="post" enctype="multipart/form-data">

	<div class="form-group">
		<label asp-for="IName" > Item Name: </label>
		<input asp-for="IName" type="text" class="form-control" />
	

		<label asp-for="IType"> Item Type: </label>
		<input type="text" asp-for="IType" class="form-control" />

		<label asp-for="Idescription"> Item Description: </label>
		<input type="text" asp-for="Idescription" class="form-control"/>

		<label asp-for="Date">Lost Date</label>
		<input type="date" asp-for="Date" class="form-control" />

		<label asp-for="Image">Item Image</label>
		<input type="file" asp-for="Image" class="form-control" />

		<button type="submit">SUBMIT</button>
	</div>
</form>

//name是input显示要绑定对应model的哪一个attributes
//label 的 for="Username"---对应到 input 的 id="Username"
//asp-for会自动生成name,id,for
