@model Item

<div>
	<form asp-action="CreateFoundPost" asp-controller="Home" method="post" enctype="multipart/form-data">
		<label asp-for="IName"> Item Name: </label>
		<input asp-for="IName" type="text" />

		<label asp-for="IType"> Item Type: </label>
		<input asp-for="IType" type="text" />

		<label asp-for="Idescription"> Item Description: </label>
		<input asp-for="Idescription" type="text" />

		<label asp-for="Date">Lost Date</label>
		<input asp-for="Date" type="date" />

		<label asp-for="Image">Item Image</label>
		<input asp-for="Image" type="file" />

		<button>SUBMIT</button>
	</form>
</div>