@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["Error"] != null)
{
    <p>@TempData["Error"]</p>
}
<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

</head>

<body>
    <div class="parent">
        <div class="left-container">
            <div class="filter-container">
                <h1>Filter</h1>
                <p>Tips:you may click the orange color to do next action </p>
            </div>
            
            <div class="line"></div>
            
            <div class="location">
                <span>Location:  </span>
                <select class="locationInput">
                    <option value="FOCS">FOCS</option>
                    <option value="">East Campus</option>
                </select>
            </div>
            <div class="line"></div>
            <div class="dateContainer">
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" >
                <p>↓</p>
                <label for="endDate" >End Date:  </label>
                <input type="date" id="endDate" >
            </div>
            <div class="line"></div>


            <div class="filter-button">
                <button>Filter</button>
            </div>

        </div>


        <div class="middle-line"></div>

        <div class="right-container">
            <div class="right-container-top">

                <div class="typeOfItem">
                    <button id="foundButton">Lost </button>
                    <button class="buttonA">/  </button>
                    <button id="postButton">Found</button>
                </div>
                <hr />
            </div>

            <div class="right-container-bottom">
                <div class="cardparent">
                @await Html.PartialAsync("_ItemCard",Model)
                </div>



            </div>
                <div class="paging">
                    <button id="pagingBack">< Back</button>
                    <button class="pagingNumber">1</button>
                    <button id="pagingNext">Next ></button>
                </div>
            
        </div>





    </div>
    <script src="~/js/index.js" asp-append-version="true"> </script>
</body>
