@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<body>
    <div class="parent">
        <div class="left-container">
            <p>you may choose button to find your wheter your lost have pick up from other</p>
            <span>
                <button>Lost</button>
                <button>Found</button>
            </span>
        </div>





        <div class="right-container">
            <div class="card">
                <img class="card-img" src="" alt="img" />
            </div>
        </div>






    </div>
</body>
