@{
    Layout = null;
}

<h2>Forgot Password</h2>

<form method="post" action="/Admin/ForgotPassword">
    <label>Enter Email:</label>
    <input type="text" name="Email" required class="form-control" />

    <br />
    <button type="submit" class="btn btn-primary">Send Password</button>

    <br /><br />
    <a href="/Admin/Login">Back to Login</a>

    <p style="color:red">@ViewBag.Error</p>
    <p style="color:green">@ViewBag.Success</p>
</form>
