@model List<Mini_Project_Assignment_Y2S2.Models.Item>



@foreach (var items in Model)
{
    <a class="card" asp-action="CardDetails" asp-controller="Home" asp-route-id="1">
        <img class="card-img" src="@items.Images" alt="img" />
        <div class="card-details">
            <div class="category">
                <p>@items.IType </p>
            </div>
            <div class="details">
                <p>@items.LocationID</p>
                <p>@items.Date.ToString("dd/MM/yyyy")</p>
            </div>
        </div>
    </a>

}

