<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mini_Project_Assignment_Y2S2</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>

<body>
    <nav class="top-nav">
        <div class="top-left">
            <ul>
                <li><a href="">Index</a></li>
            </ul>
        </div>

        <div class="top-right">
            <ul>
                <li><a href="@Url.Action("CreatePost", "Home")">Post</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </div>
    </nav>




    @RenderBody()




</body>
</html>
