/* 全局布局 */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

* {
    caret-color: transparent;
    text-decoration: none;
}

/* 外层容器 */
.parent {
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    padding: 35px 280px;
}

/* 返回按钮 */
.back {
    height: 40px;
    width: 70px;
    font-size: 20px;
    background-color: #FF9500;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: black;
}

.back:hover {
    background-color: #e08500;
    cursor: pointer;
}

/* 总卡片 */
.CardDetails {
    background-color: #efd79b;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* 顶部两栏 */
.topDetails {
    display: flex;
    height: 480px;
    width: 100%;
    margin-bottom: 20px;
}

/* 左侧图片区 */
.image {
    width: 960px;
    height: 100%;
}

.carousel-container {
    width: 100%;
    height: 100%;
    position: relative;
}

    .carousel-container img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 15px;
        object-fit: cover;
    }

/* 右侧用户详情 */
.userDetails {
    flex-grow: 1;
    background: white;
    margin-left: 20px;
    padding: 18px;
    box-sizing: border-box;
    border-top-right-radius: 15px;
}

    .userDetails .UserDetails {
        font-size: 40px;
        font-weight: bold;
        margin: 0;
        padding-bottom: 8px;
        margin-bottom: 13px;
        border-bottom: 3px solid black;
        letter-spacing: 3px;
    }

/* 标签 + 文本 */
.label {
    font-size: 29px;
    margin: 0;
    padding-bottom: 5px;
}

.text {
    font-size: 25px;
    color: grey;
    margin: 0 0 13px 0;
}

/* 底部两栏 */
.bottomDetails {
    display: flex;
    width: 100%;
    flex-grow: 1;
}

/* 底部左边 */
.bottomDetails-left {
    display: flex;
    flex-grow: 1;
    width:70%;
    background: white;
    margin-right: 20px;
    padding: 20px;
    border-bottom-left-radius: 15px;

}

.bottomDetails-left2-lost {
    width: 100%;
    padding-right: 15px;
}

.bottomDetails-left2-found {
    width: 45%;
    padding-right: 15px;
}

.bottomDetails-right2 {
    width: 55%;
    padding-left: 20px;
    border-left: 3px solid black;
}

/* 底部右侧：描述 */
.bottomDetails-right {
    width: 30%;
    background: white;
    flex-grow: 1;
    padding: 20px;
    border-bottom-right-radius: 15px;
}

.btn-edit {
    height: 40px;
    width: 100px;
    font-size: 20px;
    background-color: #FF9500;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: black;
}

.btn-edit:hover {
    background-color: #e08500;
    cursor: pointer;
}
.btn-delete {
    height: 40px;
    width: 100px;
    font-size: 20px;
    background-color: red;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: black;
}

    .btn-delete:hover {
        background-color: darkred;
        cursor: pointer;
    }
.btn-claimed {
    height: 40px;
    width: 150px;
    font-size: 15px;
    background-color: lightblue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: black;
}

.btn-claimed:hover {
    background-color: #87ceeb;
    cursor: pointer;
}

