
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

* {
    caret-color:transparent;
    text-decoration:none;
}

.parent {
    box-sizing: border-box;
    width: 100%;
    flex:1;
    padding: 35px 280px;
}

.back {
    height: 40px;
    width: 70px;
    font-size:20px;
    background-color: #FF9500;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    color:black;
    margin-bottom:10px;
}



.CardDetails {
    border-radius:10px;
    background-color: #efd79b;
    width: 100%;
    flex-grow:1;
    box-sizing: border-box;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}

.topDetails {
    display:flex;
    width: 100%;
    height: 480px;
    margin-bottom:20px;
}

.image {
    width: 960px;
    height: 100%;
}

.image img {
    border-top-left-radius:15px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 保持比例裁剪多余部分 */
}

.userDetails {
    border-top-right-radius:15px;
    margin-left: 20px;
    height: 100%;
    background-color: white;
    flex-grow: 1;
    padding:18px;
    box-sizing:border-box;
}

.userDetails .UserDetails {
    font-size:40px;
    font-weight:bold;
    margin:0px;
    letter-spacing:4px;
    padding-bottom:8px;
    border-bottom:3px solid black;
    margin-bottom:13px;
}

.label{
    font-size:29px;
    margin:0;
    padding-bottom:5px;
}

.text {
    margin: 0;
    font-size: 25px;
    color: grey;
    padding-bottom:13px;
}

.bottomDetails {
    flex-grow: 1;
    display: flex;

    width: 100%;
    height: 100%;
}

.bottomDetails-left{
    width:55%;
    flex-grow:1;
    display:flex;
    flex-direction:row;
    background-color:white;
    margin-right:20px;
    padding:20px;
    border-bottom-left-radius:15px;
}

.bottomDetails-left2{
    width:45%;
    border-right:3px solid black;
    height:100%;
}

.bottomDetails-right2 {
    padding-left:20px;
    width: 55%;
    height: 100%;
}

.bottomDetails-right {
    padding: 20px;
    flex-grow: 1;
    background-color: white;
    border-bottom-right-radius: 15px;
}