body{
    height:100%;
}

* {
    caret-color: transparent; /* 隐藏插入符号(caret) */

}

a{
    color:black;
    text-decoration:none;
}

html {
    height: 100%;
}

.parent {
    padding-top: 20px;
    display: flex;
    height: calc(100vh - 96px);
    margin-left:20px;
    margin-right:20px;
}

.left-container {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 330px;
    background-color: rgb(169, 164, 148);
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
}

.left-container hr{
    margin-block:13px;
}

.filter-container h1,
.filter-container p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.location span {
    font-weight: bold;
    font-size: 21px;
}

.locationInput {
    width: 157px;
    height: 30px;
    border-radius: 14px;
    background-color: white;
    border: none;
    text-indent: 10px;
    appearance: none;
    cursor: pointer;
    margin-left:14px;
}

.locationInput option {
    background-color: #e5e5e5;
    border-radius: 13px;
    padding: 2px 10px;
}

.dateContainer label {
    font-weight: bold;
    font-size: 18px;
}

.dateContainer p{
    margin:0px;
    padding-block:4px;
    transform:translate(174px)
}

.dateContainer input[type="date"] {
    border-radius: 15px;
    width: 150px;
    height: 30px;
    background-color: white;
    border: none;
    padding-left: 10px;
    margin-left: 14px;
}

#endDate{
    margin-left:20px;
}


.filter-button {
    margin-top:auto;
    position: relative;
    width: 100%;
    height: auto;
    bottom: 5%;
    background: white;
    text-align: center;
    background-color:transparent;
}

.filter-button button {
    border-radius: 17px;
    border: none;
    width: 70%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.filter-button button:hover{
    transform:scale(1.03);
}

.middle-line {
    height: 100%;
    width: 20px;
    background-color: white;
}

.right-container {
    max-width: 100%;
    background-color: #efd79b;
    flex: 1;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}

.right-container-top{
    margin-inline:30px;
}

.right-container-top hr {
    margin-top: 15px;
    width:100%;
}

.typeOfItem {
    margin-top: 20px;
    display: flex;
}

.typeOfItem button {
    padding-left: 0px;
    margin: 0px;
    border: none;
    background-color: #efd79b;
}

.typeOfItem #foundButton {
    font-size: 40px;
    font-weight: bold;
}

.typeOfItem .buttonA,
.typeOfItem #postButton {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

.typeOfItem button:hover{
    cursor:pointer;
}

.right-container-bottom{
    display:flex;
}

.card {
    width: 250px;
    height: 300px;
    background-color: #ffeab7;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    margin-left: 30px;
    margin-top: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .card:hover {
        transform: translateX(3px) scale(1.02);
        cursor: pointer;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    }

.card-details p {
    margin-top: 0; 
    margin-bottom: 5px;
}

.card-img {
    width: 100%;
    height: 200px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    object-fit:cover;
}

.card .category{
    font-size:20px;
    font-weight:700;
}

.card-details {
    padding-inline: 10px;
    font-size:15px;
}

.paging {
    position: absolute;
    display: flex;
    bottom: 4%;
    gap: 15px;
    transform:translateX(600px);
    font-size:13px;
}

.paging button{
    border:none;
    border-radius:15px;
    height:35px;
    background-color:#61b255;
    color:white;
    font-weight:bold;
}

.paging button:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.paging #pagingBack,
.paging #pagingNext {
    width: 80px;
}

.pagingNumber {
    width: 40px;
}




