.parent {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

.left-container {
    max-width: 350px;
}

.right-container {
    flex: 1;
    background-color: red;
}

.card {
    width: 250px;
    height: 300px;
    background-color: black;
    border-radius: 15px
}

card-img {
    width: 100%;
    height: 150px;
}
