body{
    height:100%;
}

html {
    height: 100%;
}

.parent {
    padding-top: 20px;
    display: flex;
    height: calc(100vh - 76px);
}

.left-container {
    padding-left: 20px;
    max-width: 350px;
    background-color:rgb(169, 164, 148)
}

.right-container {
    flex: 1;
    max-width: 100%;
    background-color: #efd79b;
    display: flex;
    gap: 20px;
}

.middle-line{
    height:100%;
    width:20px;
    background-color:white;
    
}

.card {
    width: 250px;
    height: 300px;
    background-color: #ffeab7;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    margin-left: 30px;
    margin-top: 10px;
}

.card:hover{
    transform:translateX(3px) scale(1.02);
    box-shadow:
}

.card-details p {
    margin-top: 0; 
    margin-bottom: 5px;
}

.card-img {
    width: 100%;
    height: 200px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    object-fit:cover;
}

.card .category{
    font-size:20px;
    font-weight:700;
}

.card-details {
    padding-inline: 10px;
    font-size:15px;
}

