body{
    height:100%;
}

* {
    caret-color: transparent; /* 隐藏插入符号(caret) */

}

.tempdata {
    width: auto;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: red;
    font-size: 20px;
    border-radius: 13px;
    color: white;
    text-align: center; /* 可选：文字居中 */
    line-height: 50px; /* 可选：让文字垂直居中 */
    z-index: 4;
    opacity: 1;
    transition: opacity 1s;
}

    .tempdata.hide {
        opacity: 0; /* 添加 hide 类后慢慢透明消失 */
    }

a {
    color: black;
    text-decoration: none;
}

html {
    height: 100%;
}

.parent {
    position: relative;
    padding-top: 20px;
    display: flex;
    height: calc(100vh - 96px);
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1880px;
    max-height: 849px;
}

.left-container {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 330px;
    background-color: rgb(169, 164, 148);
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
}

    .left-container .line {
        margin-block: 20px;
        width: 100%;
        background-color: white;
        height:2px;
    }

.filter-container h1,
.filter-container p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.location span {
    font-weight: bold;
    font-size: 21px;
}

.locationInput {
    width: 157px;
    height: 30px;
    border-radius: 14px;
    background-color: white;
    border: none;
    text-indent: 10px;
    appearance: none;
    cursor: pointer;
    margin-left:14px;
}

.locationInput option {
    background-color: #e5e5e5;
    border-radius: 13px;
    padding: 2px 10px;
}

.dateContainer label {
    font-weight: bold;
    font-size: 18px;
}

.dateContainer p{
    margin:0px;
    padding-block:4px;
    transform:translate(174px)
}

.dateContainer input[type="date"] {
    border-radius: 15px;
    width: 150px;
    height: 30px;
    background-color: white;
    border: none;
    padding-left: 10px;
    margin-left: 14px;
}

#endDate{
    margin-left:20px;
}

.left-button {
    margin-top: auto;
    display: flex;
    bottom:5%;
    position:relative;
}
.filter-button {
    
    position: relative;
    width: 65%;
    height: auto;
   
    background: white;
    text-align: center;
    background-color:transparent;
    margin-right:5%;
}

.filter-button button {
    border-radius: 17px;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.reset-button {
    
    position: relative;
    width: 30%;
    height: auto;
    
    background: white;
    text-align: center;
    background-color: transparent;
}

.reset-button button {
    border-radius: 17px;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0px;
    cursor: pointer;
    transition: transform 0.3s ease;
}



.filter-button button:hover {
    transform: scale(1.03);
}

.middle-line {
    height: 100%;
    width: 20px;
    background-color: white;
}

.right-container {
    max-width: 100%;
    flex-direction:column;
    background-color: #efd79b;
    flex: 1;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    display:flex;
}

.right-container-top{
    margin-inline:30px;
}

.right-container-top hr {
    margin-top: 15px;
    margin-bottom:0px;
    width:100%;
}

.typeOfItem {
    margin-top: 20px;
    display: flex;
}

.typeOfItem button {
    padding-left: 0px;
    margin: 0px;
    border: none;
    background-color: #efd79b;
}

.typeOfItem #foundButton {
    font-size: 40px;
    font-weight: bold;
}

.typeOfItem .buttonA,
.typeOfItem #postButton {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

.typeOfItem button:hover{
    cursor:pointer;
}

.right-container-bottom{
    display:flex;
    width:100%;
}

.cardparent {
    display: flex;
    flex-wrap:wrap;
}

.card {
    width: 250px;
    height: 300px;
    background-color: #ffeab7;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    margin-left: 40px;
    margin-top: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .card:hover {
        transform: translateX(3px) scale(1.02);
        cursor: pointer;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    }

.card-details p {
    margin-top: 0; 
    margin-bottom: 5px;
}

.card-img {
    width: 100%;
    height: 200px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    object-fit:cover;
}

.card .category{
    font-size:20px;
    font-weight:700;
}

.card-details {
    padding-inline: 10px;
    font-size:15px;
}

.paging {
    position: relative;
    margin-top: auto;
    display: flex;
    gap: 15px;
    text-align: center;
    font-size: 13px;
    justify-content: center;
    bottom: 5%;
}

.paging button{
    border:none;
    border-radius:15px;
    height:35px;
    background-color:#61b255;
    color:white;
    font-weight:bold;
   
}

.paging button:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.paging #pagingBack,
.paging #pagingNext {
    width: 80px;
}

.pagingNumber {
    width: 40px;
}


.paging button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.not_available{
    margin-left:35px;
    font-size:20px;
}