body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    background-color: #e7ce8f; /* 和 lost 页面一样的黄背景 */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background: #fff6e1;
    width: 380px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.login-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #000;
}

label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #c4b08a;
    outline: none;
    font-size: 16px;
    margin-bottom: 15px;
    background: #fffdf5;
}

input:focus {
    border-color: #a9905b;
}

.btn-login {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #6ab672; /* 和分页 next/back 按钮绿色一致 */
    color: white;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
}

    .btn-login:hover {
        background-color: #5ca965;
    }

.register-text {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

    .register-text a {
        color: #4e8c52;
        text-decoration: none;
        font-weight: bold;
    }

        .register-text a:hover {
            text-decoration: underline;
        }
