
.top-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: #ffdda6;
}

ul {
    list-style: none;
    display: flex;
}

.top-right {
    margin-right: 10px;
}

    .top-right ul {
        justify-content: center;
        gap: 20px;
    }


li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

body {
    margin: 0px
}
