body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: white;
}

.container {
    height:88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.role-switch {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.role-btn {
    padding: 10px 25px;
    border-radius: 20px;
    background: #ffe1a8;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size:17px;
    border: 2px solid #f5c77d;
    transition: 0.3s;
    width: 90px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .role-btn:hover {
        background: #6ab672;
    }

    .role-btn.active {
        background: #f1b561;
        border-color: #d89d54;
    }

/* --- LOGIN CARD --- */
.login-card {
    background: #ffcf82;
    width: 380px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.login-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}

label {
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 93%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #c4b08a;
    margin-bottom: 15px;
}

input:focus {
    border-color: #a9905b;
}

.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: -5px;
}

.remember-me {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

    .remember-me input {
        transform: scale(1.1);
    }

.forgot-password {
    font-size: 14px;
    color: #4e8c52;
    text-decoration: none;
}

    .forgot-password:hover {
        text-decoration: underline;
    }


.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #6ab672;
    color: white;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

    .btn-login:hover {
        background-color: #5ca965;
    }

.register-text {
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
}
    .register-text a {
        text-decoration: none;
        color: #4e8c52;
    }

        .register-text a:hover {
            text-decoration: underline;
            cursor: pointer;
        }

.error-message {
    color: red;
    margin-bottom: 10px;
    font-weight: bold;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px auto 20px auto;
    border: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

    .profile-image img {
        width: 100%;
        height: 100%;
    }

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-cancel {
    display: inline-block; /* important for <a> */
    width: 152px;
    background-color: #53b66c;
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center; /* center text */
    text-decoration: none; /* remove underline */
    margin-right:72px;
}
    .btn-cancel:hover {
        background-color: darkgreen;
    }

.btn-change {
    display: inline-block;
    justify-content: right;
    width: 152px;
    background-color: #7676e8;
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

    .btn-change:hover {
        background-color: blue;
    }

.text-danger {
    color: red;
    font-size: 0.9em;
    font-weight: bold;
    display: block;
    margin-top: 3px;
    margin-bottom:3px;
}

.back {
    height: 40px;
    width: 70px;
    font-size: 20px;
    background-color: #FF9500;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: black;
    text-decoration:none;
}

.btn-link {
    background: lightblue;
    border: none;
    color: #4e8c52;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 6px;
    transition: all 0.2s ease;
    text-decoration: none;
    display: flex;
    margin-top: 10px;
}

    .btn-link:hover {
        background-color: rgba(78, 140, 82, 0.1);
        text-decoration: underline;
    }