body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: #e7ce8f;
}

.container {
    height:88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --- ROLE BUTTONS --- */
.role-choosing {
    display: inline-block;
    gap: 1rem;
    margin-bottom: 20px;
}

.btn-role {
    all: unset;
    padding: 10px 30px;
    background-color: #fffdf5;
    border-radius: 9999px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    margin: 0 10px;
}

.btn-role-selected {
    background-color: #fff6e1;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2), 0 0 0 4px #6ab672, 0 0 0 6px #fff;

}

/* --- LOGIN CARD --- */
.login-card {
    background: #ffdda6;
    width: 380px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.login-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}

label {
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 93%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #c4b08a;
    margin-bottom: 15px;
}

input:focus {
    border-color: #a9905b;
}

.forgot-password {
    display: flex;
    justify-content: right;
    font-size: 14px;
    color: #4e8c52;
    margin-bottom:10px;
   text-decoration: none;
}
    .forgot-password:hover {
        text-decoration: underline;
        cursor: pointer;
    }

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #6ab672;
    color: white;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

    .btn-login:hover {
        background-color: #5ca965;
    }

.register-text {
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
}
    .register-text a {
        text-decoration: none;
        color: #4e8c52;
    }

        .register-text a:hover {
            text-decoration: underline;
            cursor: pointer;
        }

.error-message {
    color: red;
    margin-bottom: 10px;
    font-weight: bold;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px auto 20px auto;
    border: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

    .profile-image img {
        width: 100%;
        height: auto;
    }

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-done {
    width: 152px;
    background-color: #53b66c;
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-change {
    width: 152px;
    background-color: #7676e8;
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn-done:hover{
        background-color:darkgreen;
}
.btn-change:hover {
    background-color: blue;
}
